src/main/mule/practise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b0439b6-7877-459e-a867-bec3edce1d3d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="practiseFlow" doc:id="7fbcaa61-62a8-45ca-99a1-149a6f4ec51f" >
		<http:listener doc:name="Listener" doc:id="f47989d6-eefa-430e-a477-48efd34741b6" config-ref="HTTP_Listener_config" path="employee"/>
		<set-payload value='#["hii you are in main flow"]' doc:name="Set Payload" doc:id="4114bf25-5689-4006-bf05-96d501117589" />
	</flow>
</mule>
